{% extends "base3.html" %}


{% block title %}About{% endblock %}

{% block content %}

<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="static\images\image1_0.jpg" width='607' height="510" class="d-block mx-lg-auto img-fluid"
            loading="lazy" style="border-radius: 10px;" alt="Image1">

    </div>
    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-1">
            Welcome to Recipe Realm 
        </h1>
        <br>
        <h3 class="display-5 fw-bold mb-1">Our Story</h3>
        <p class="lead">
            At Recipe Realm, we believe in the power of bringing people together through the joy of cooking and sharing delicious
            recipes. Our journey began with a simple idea-to create a community-driven platform that celebrates the diverse world
            of culinary delights.
        </p>
        <br>
        <br>
        <h3 class="display-5 fw-bold mb-1">Mission</h3>
        <h4 class="display-5 fw-bold mb-1">Empowering Culinary Enthusiasts</h4>
        <p class="lead">
            Our mission is to empower culinary enthusiasts, whether you're a seasoned chef or a home cook experimenting in the
            kitchen. We provide a welcoming space for you to explore, discover, and share your favorite recipes with a community
            that shares your passion for good food.
        </p>
    </div>
</div>
<div>
    <h3 class="display-5 fw-bold mb-1">What Sets Us Apart</h3>
    <h4 class="display-5 fw-bold mb-1">Community-Centric Platform</h4>
    <p class="lead">
        Recipe Realm is more than just a recipe repository; it's a vibrant community where food lovers connect, exchange ideas,
        and inspire one another. We understand that behind every recipe is a unique story, and we celebrate the diversity of
        flavors that make the world of cooking so exciting.
    </p>
    <br>
    <h4 class="display-5 fw-bold mb-1"> User- Friendly Experience</h4>
    <p class="lead">
        We've designed Recipe Realm to be user-friendly, ensuring a seamless experience for both novice and experienced cooks.
        Our intuitive interface allows you to easily navigate through a treasure trove of recipes, contribute your creations,
        and engage with a community that shares your love for all things delicious.
    </p>
    <br>
    <br>
    <h3 class="display-5 fw-bold mb-1">How It Works</h3>
    <p class="lead">
        1. Explore: Dive into our extensive collection of recipes from around the globe. Whether you're in the mood for a
        comforting classic or an adventurous fusion dish, we've got something for every taste.
        <br>
        2. Contribute: Join the Recipe Realm community by sharing your own culinary creations. Your recipes could be the
        inspiration someone needs to try something new in their kitchen.
    </p>
    <br>
    <br>

    <h3 class="display-5 fw-bold mb-1">Our Commitment</h3>
    <h4 class="display-5 fw-bold mb-1">Inclusivity and Diversity</h4>
    <p class="lead">
        Recipe Realm is committed to fostering an inclusive and diverse community. We celebrate the rich tapestry of culinary
        traditions from every corner of the world, and we welcome contributors of all backgrounds and skill levels.
    </p>
    <br>
    <h4 class="display-5 fw-bold mb-1">Quality and Authenticity</h4>
    <p class="lead">
        We value the authenticity of recipes and the stories behind them. Every recipe on Recipe Realm is a testament to the
        passion and creativity of the individuals who generously share their kitchen adventures with the community.
    </p>
</div>

{% endblock %}